*{
	border: 0;
	padding: 0;
}

.rechange{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin-left: -200px;
	margin-top: -100px;
}

.circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fc0;
}

#c1{
	margin-left: -50px;
	margin-top: -50px;
}

#c2{
	margin-left: 350px;
	margin-top: 100px;
}