*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}

.wrap{
	padding: 10px;
}

.wrap:before,.wrap:after{
	content: "";
	display: table;
	clear: both;
}

.out{
	float: left;
	padding: 10px;
}

.in{
	border: 1px solid #999;
	background-color: #eee;
	height: 50px;
}

@media (min-width: 769px) {
	.col-md-1{
		width: 8.3333%;
	}

	.col-md-2{
		width: 16.6666%;
	}

	.col-md-3{
		width: 25%;
	}

	.col-md-4{
		width: 33.3333%;
	}

	.col-md-6{
		width: 50%;
	}
}

@media (max-width: 768px) {
	.col-sm-2{
		width: 16.6666%;
	}

	.col-sm-3{
		width: 25%;
	}

	.col-sm-6{
		width: 50%;
	}

	.col-sm-8{
		width: 66.6666%;
	}

	.col-sm-12{
		width: 100%;
	}
}